.TickerInfo {
  border: 1px solid var(--border-color);
  border-top: none;
  border-left: none;
  height: 33.33%;
  width: 100%;
  padding: 4px;
}

.headerRow {
  width: 100%;
  height: 20%;
}

.fourItemsRow,
.threeItemsRow {
  height: 20%;
  border-bottom: 1px solid var(--border-color);
  padding: 3px;
  text-align: center;
}

.threeItemsRow:last-child {
  border-bottom: none;
}

.container {
  position: relative;
  height: 100%;
}

.spinner_overlay {
  position: absolute;
  display:flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 100%;
  top: 0;
  background-color: rgba(218, 218, 218, 0.596);
  z-index: 1;
}